{% extends 'main.html' %}
{% block content %}
{% load bootstrap4 %}

<div class="jumbotron">
  <h2>
    <p class="text-dark" style="text-align: center;">Dodaj wydarzenie:</p>
  </h2>
  {% csrf_token %}
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary">Dodaj </button>
      </div>
      <div class="col">
        <a type="button" class="btn btn-light" href="/yourEvents/" role="button">Anuluj</a>
      </div>
    </div>
  </form>
</div>

{% endblock %}