{% extends 'main.html' %}
{% block content %}
{% load bootstrap4 %}

  <div class="jumbotron">
    <form method="post">
      <h2>
        <p class="text-dark" style="text-align: center;">Dodaj wydarzenie:</p>
      </h2>
      {% csrf_token %}
      <form   method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary" >Dodaj </button>
        </div>
        <div class="col">
          <a type="button" class="btn btn-light" href="/yourEvents/" role="button">Anuluj</a>
        </div>

      </div>

    </form>
      <!-- {% for field in form %}
      
        <p>
          {{ field.errors }}
          {{ field.label_tag }}: {{ field }}
        </p>
      {% endfor %} -->
      <!-- <div class="row"> -->
         <!-- <div class="col-auto mr-auto"> -->
      <!-- <a type="button" class="btn btn-light" href="/yourEvents/" role="button">Anuluj</a> -->
    </div>

       <!-- <div class="col-auto"> -->
      <!-- <a type="button-submit" class="btn btn-primary" href="/yourEvents/">Dodaj</a> -->
       <!-- </div> -->
      </div>
    </form>
  </div>

{% endblock %}