{% extends 'main.html' %}
{% block content %}

<nav class="nav m-3">
  <p class="text-secondary mr-1" >Strona główna > </p>
  <p class="text-secondary mr-1" >{{ object.name }} > </p>
  <p class="text-primary mr-1" >Ilość biletów > </p>
  <p class="text-secondary mr-1">Rodzaj biletów > </p>
  <p class="text-secondary mr-1" >Opłać bilety</p>
</nav>


<h3 class="text-center m-5">Wybierz liczbę biletów</h3>

<div class="container ">

      <div class="jumbotron">
          <select class="form-control form-control-lg">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
        </select>

</div>
</div>

<div class="row">
  <div class="col-auto mr-auto">
    <a href="../" class="btn btn-danger btn-lg" role="button"><span class="btn-label"><i class="fa fa-times"></i></span> Anuluj</a><br><br>
  </div>
  <div class="col-auto">
    <a href="buyWhat/" class="btn btn-primary btn-lg" role="button">Dalej <span class="btn-label"><i class="fa fa-arrow-right"></i></span></a><br><br>
</div>

</div>



{% endblock content %}