{% extends 'main.html' %}
{% block content %}

<nav class="nav m-3">
  <p class="text-secondary mr-1" >Strona główna > </p>
  <p class="text-secondary mr-1" >{{ object.name }} > </p>
  <p class="text-secondary mr-1" >Ilość biletów > </p>
  <p class="text-primary mr-1">Rodzaj biletów > </p>
  <p class="text-secondary mr-1" >Opłać bilety</p>
</nav>

<h3 class="text-center m-5">Wybierz rodzaje biletów</h3>

<div class="container ">
      <div class="jumbotron">
          <select class="form-control form-control-lg">
              <p class="text-center m-1">Bilet 1</p>
              <option>Bilet Normalny [{{ object.price }} zł]</option>
              <option>Bilet Ulgowy [{{ object.price }} zł]</option>
              <option>Bilet Studencki [{{ object.price }} zł]</option>
        </select>

</div>
 </div>


 <div class="row">
    <div class="col-auto mr-auto">
      <a href="../" class="btn btn-secondary btn-lg" role="button"><span class="btn-label"><i class="fa fa-arrow-left"></i></span> Powrót</a><br><br>
    </div>
    <div class="col-auto">
      <a href="transaction/" class="btn btn-primary btn-lg" role="button">Płatność <span class="btn-label"><i class="fa fa-arrow-right"></i></span></a><br><br>
  </div>

</div>



{% endblock content %}