{% extends 'main.html' %}
{% block content %}

<nav class="nav m-3">
    <p class="text-secondary mr-1" >Strona główna > </p>
    <p class="text-primary mr-1" >{{ object.name }} > </p>
</nav>

<a href="/" class="btn btn-secondary" role="button"><span class="btn-label"><i class="fa fa-arrow-left"></i></span> Powrót</a><br><br>
<div class="container">
    
    <div class="row ">
        <div class="col">
            <img src = "{{event.photo.url}}" class="img-fluid">
                </div>

        <div class="col-9">
                <div>
        <h2>{{ object.name }}</h2>
    </div>
            <p>
                {{ object.info }}
            </p>
            <div style="text-align: center;">
                <a type="button" class="btn btn-secondary" href={{ object.schedule.url }}><span class="btn-label"><i class="fa fa-arrow-down"></i></span> Pobierz harmonogram</a>
                {% if user.is_authenticated %}
                            <!-- {% if  user_type == "U" %} -->
                    <a type="button" class="btn btn-primary" href="buyHowMany/"><span class="btn-label"><i class="fa fa-shopping-cart"></i></span> Kup Bilet</a>
                    <!-- {%endif%} -->
                {% else %}
                    <a type="button" class="btn btn-primary" href="{% url 'login' %}"><span class="btn-label"><i class="fa fa-shopping-cart"></i></span> Zaloguj się aby kupić bilet </a>
                {%endif%}
            </div>
        </div>

        <div class="col-3">
            <div class="jumbotron">
                <div style="text-align: left;">
                    <h5>O wydarzeniu:</h5><br>
                </div>
                Cena biletu: {{ object.price }} zł <br>
                Data: {{ object.date }} <br>
                Miasto: {{ object.localization }} <br>
            </div>
        </div>
    </div>
</div>

{% endblock content %}