{% extends 'main.html' %}
{% block content %}

<!-- TODO przenieść te style do pliku css -->

<div class="container ">
    <div class="row border-bottom" style="border-width:3px !important">
        {% for event in events %}
        <article class="media content-section bg-light">
            <div class="media-body">
              <div class="row">
                <div class="col-3">
                  <img src="{{event.photo.url}}" class="img-fluid">
                </div>
                <div class="col-6">
                  <div class="article-metadata">
                    <small class="text-muted">{{ event.date }}</small>
                  </div>
                  <h2><a class="article-title" href="/eventPreview/{{ event.id}}/">{{ event.name }}</a></h2>
                  <h5>
                    <p class="text-secondary">{{ event.type.name }}, {{ event.localization.name }}</p>
                  </h5>
                  <p class="article-content">{{ event.info }}</p>
                </div>
              </div>
            </div>
        </article>
    </div>
        <div class = "row" style="text-align: center; padding-bottom: 5%;">
            <div class = "col"><button type="button" class="btn btn-primary">Zatwierdź</button></div>
            <div class = "col"><button type="button" class="btn btn-primary">Odrzuć</button></div>
          </div>
        {% endfor %}
</div>



{% endblock content %}