{% extends "main.html" %}
{% block content %}

<h4><p class="text-dark m-5">Wyniki wyszukiwania:</p></h4>

    {% for event in events %}

        {%if event.localization.name == loc or event.type.name == typ %}
        <article class="media content-section bg-light">

          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ event.date }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ event.name }}</a></h2>
            <h5><p class="text-secondary">Lokalizacja: {{ event.localization.name }}, Kategoria: {{ event.type.name }}</p></h5>
            <p class="article-content">{{ event.info }}</p>
          </div>

        </article>
        {% endif %}

    {% endfor %}
 <div class="row">
    <div class="col-auto mr-auto">
      <a class="btn btn-light " href="" role="button">Powrót</a>
    </div>
 </div>
{% endblock content %}