{% extends 'main.html' %}
{% block content %}
<div style = "text-align: center;">
    <h2 >Wydarzenia na jakie jesteś zapisany</h2>
</div>
<!-- TODO przenieść te style do pliku css -->
<table style="margin:  auto ;padding: 15px;max-width: 75%;">
    <tr>
        <td >Tu powinno być zdjęcie </td>
        <td style="padding-left: 10%;padding-right: 10%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ligula arcu, dictum ac egestas ut, ornare vitae enim. Praesent blandit non nisi vitae facilisis. Maecenas auctor, velit sit amet tincidunt laoreet, purus ipsum rutrum odio, ac efficitur felis mi pharetra tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus eu finibus ex. Morbi non congue elit, vel vulputate sapien. Donec viverra imperdiet leo nec fringilla. Aliquam a velit scelerisque, efficitur augue ut, tempus felis. Curabitur tempor risus sit amet placerat efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a nunc ultricies risus facilisis sodales. In hac habitasse platea dictumst. </td>
        <td>Tu powinny być ceny,adres etc</td>
      </tr>

</table>
{% endblock content %}