{% extends "main.html" %}
{% block content %}
<div class="container m-5">
    <div style="text-align: center;">
        <h2>Wydarzenia, na jakie jesteś zapisany(a):</h2>
    </div>
{% for event in events %}

<div class="row">
         <div class="col-8">
        <article class="media content-section bg-light">

          <div class="media-body m-5">
            <div class="article-metadata">
              <small class="text-muted">{{ event.date }}</small>
            </div>
            <h2><a class="article-title" href='eventPreview/'>{{ event.name }}</a></h2>

            <h5><p class="text-secondary">Lokalizacja: {{ event.localization.name }}, Kategoria: {{ event.type.name }}</p></h5>
                        </div>
                </article>
             <a type="button" class="btn btn-primary" href="https://drive.google.com/file/d/1BlUzzAEnf7a9fJUrnFg8XuOu1q8BVJiD/view?usp=sharing">Pobierz bilet (.pdf)</a>
          </div>

               <div class="col-2">
                   <div class="jumbotron">
              <p class="text-dark">Status rezerwacji:</p>
               <p class="text-success">Opłacona</p>

                   </div>
              </div>
</div>






    {% endfor %}
   </div>
{% endblock content %}