{% extends 'main.html' %}
{% block content %}

<nav class="nav m-5">
  <p class="text-secondary mr-1" >Konferencja x > </p>
  <p class="text-secondary mr-1" >Wybierz Liczbę biletów > </p>
  <p class="text-secondary mr-1">Wybierz rodzaje biletów > </p>
  <p class="text-primary mr-1" >Opłać bilety</p>
</nav>

<h3 class="text-center m-5">Opłać bilety</h3>

<div class="container ">

      <div class="jumbotron">
         <h5 class="text-center">Wybierz rodzaj płatności:</h5>
           <div class="row m-5">
    <div class="col-sm">
        <a href="/yourEvents/">
             <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/379737e3-a4e3-4789-ad0f-84d5ae875343/dect9b5-77472a4e-2dcf-4e03-bbcd-0ff072010d99.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMzc5NzM3ZTMtYTRlMy00Nzg5LWFkMGYtODRkNWFlODc1MzQzXC9kZWN0OWI1LTc3NDcyYTRlLTJkY2YtNGUwMy1iYmNkLTBmZjA3MjAxMGQ5OS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.QCczFl6ThQm4VvmMbGn14vSRA6pXerCuvxM2Yr_9IwI" class="rounded mx-auto d-block" alt="...">
        </a>
    </div>
    <div class="col-sm">
        <a href="/yourEvents/">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/379737e3-a4e3-4789-ad0f-84d5ae875343/dect9az-aeb7b2d4-36d3-4cac-b845-185740065cc6.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMzc5NzM3ZTMtYTRlMy00Nzg5LWFkMGYtODRkNWFlODc1MzQzXC9kZWN0OWF6LWFlYjdiMmQ0LTM2ZDMtNGNhYy1iODQ1LTE4NTc0MDA2NWNjNi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.f3awvduZlx4EZ4X2rYshUZnkbUamzBHatltW0PP_0F4" class="rounded mx-auto d-block" alt="...">
        </a>
    </div>
               <div class="col-sm">
        <a href="/yourEvents/">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/379737e3-a4e3-4789-ad0f-84d5ae875343/dect9au-8991f49d-1057-4991-a6a8-b1a736fb1dd3.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMzc5NzM3ZTMtYTRlMy00Nzg5LWFkMGYtODRkNWFlODc1MzQzXC9kZWN0OWF1LTg5OTFmNDlkLTEwNTctNDk5MS1hNmE4LWIxYTczNmZiMWRkMy5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.0EgIjHDXL3P8jx3X4cly3RFm5O9y6csPcQ9EE-affBw" class="rounded mx-auto d-block" alt="...">
        </a>
    </div>

</div>



</div>
 </div>


 <div class="row">
    <div class="col-auto mr-auto">
      <a class="btn btn-light btn-lg" href="/eventPreview/buyHowMany/buyWhat/" role="button">Powrót</a>
    </div>

</div>



{% endblock content %}