input::-webkit-calendar-picker-indicator {
  opacity: 100;
}

body {
  margin: 0;
  padding: 0;
}

#navbar {
  width: 100%;
}

#content {
  padding-top: 74px;
  min-height: calc(100vh - 79px); 
}

#footer {
  height: 125px;
  width: 100%;
  background-color: #343a40;
}

 /* Dropdown Button */
#usermenu-btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  pointer-events: none;
}

/* The container <div> - needed to position the dropdown content */
#usermenu {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#usermenu-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
#usermenu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
#usermenu-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
#usermenu:hover #usermenu-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#usermenu:hover #usermenu-btn {
  background-color: #3e8e41;
}