

<!-- Footer -->
<footer class="bg-dark text-center static-bottom text-lg-start">
  <!-- Grid container -->
  <div class="container p-2">
    <a href="{% url 'faq' %}" class="p-5 text-light">Pomoc</a>
    <a href="{% url 'regulamin' %}" class="p-5 text-light">Regulamin</a>
    <a href="{% url 'kontakt' %}" class="p-5 text-light">Kontakt</a>
    <p style="margin-bottom:7px"></p>
    <div class="text-center text-light p-1" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright:
      <a class="text-primary" href='#'>Confexplore</a>
    </div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->