

<!-- Footer -->
<footer class="bg-dark text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-3">
  <p><a href="#" class="p-5 text-light">Pomoc</a>
    <a href="#" class="p-5 text-light">Regulamin</a>
   <a href="#" class="p-5 text-light">Kontakt</a></p>
  </div>

  <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright:
    <a class="text-success" href=#>Confexplore</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->