<nav class="navbar static-top navbar-expand-lg bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/379737e3-a4e3-4789-ad0f-84d5ae875343/decsqxg-1aa6488e-1f4d-4e89-b9a2-2bc9188e6670.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMzc5NzM3ZTMtYTRlMy00Nzg5LWFkMGYtODRkNWFlODc1MzQzXC9kZWNzcXhnLTFhYTY0ODhlLTFmNGQtNGU4OS1iOWEyLTJiYzkxODhlNjY3MC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.PbT5dmXRbTh8gfD4qOLOGFg4qVZsME3dCEfwo_l4Zbs" width="373" height="35" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Wyszukaj" aria-label="Wyszukaj">


      <select class="form-control m-1" name="type">
      <option>--Kategoria--</option>
          {% for type in types %}
            <option>{{ type }}</option>
          {% endfor %}
      </select>
      <select class="form-control m-1" name="city">
      <option>--Lokalizacja--</option>
          {% for city in cities %}
            <option>{{ city }}</option>
          {% endfor %}
      </select>
      <button class="btn btn-secondary m-1" type="submit">Wyszukaj</button>
    </form>
    </ul>
     <li class="nav-item dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" id="usermenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Użytkownik
        </a>
        <div class="dropdown-menu" aria-labelledby="usermenu">
         {% if user_type == "U" %}
            <a class="dropdown-item" href="#">Moje wydarzenia</a>
            <a class="dropdown-item" href="#">Ustawienia konta</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj</a>
          {% elif user_type == "V" %}
          {% elif user_type == "O" %}
            <a class="dropdown-item" href="#">Ustawienia konta</a>
            <a class="dropdown-item" href="#">Zarządzaj wydarzeniami</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj</a>
          {% elif user_type == "A" %}
            <a class="dropdown-item" href="#">Zarządzaj wydarzeniami</a>
            <a class="dropdown-item" href="#">Zarządzaj użytkownikami</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj</a>
          {% else %}
            <a class="dropdown-item" href="{% url 'login' %}">Zaloguj</a>
            <a class="dropdown-item" href="{% url 'register' %}">Zarejestruj</a>
          {% endif %}
        </div>
      </li>


  </div>
</div>



</nav>