<nav class="navbar fixed-top navbar-expand-lg bg-dark">

  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/379737e3-a4e3-4789-ad0f-84d5ae875343/decsqxg-1aa6488e-1f4d-4e89-b9a2-2bc9188e6670.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMzc5NzM3ZTMtYTRlMy00Nzg5LWFkMGYtODRkNWFlODc1MzQzXC9kZWNzcXhnLTFhYTY0ODhlLTFmNGQtNGU4OS1iOWEyLTJiYzkxODhlNjY3MC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.PbT5dmXRbTh8gfD4qOLOGFg4qVZsME3dCEfwo_l4Zbs" width="373" height="35" alt="">
  </a>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  {% comment %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% endcomment %}
    <ul class="navbar-nav w-100">
      <li class="mx-auto">
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
          <input class="form-control mr-sm-2" style="width: 500px; height: 44px" type="search" name ='q' placeholder="Wyszukaj wydarzenia" aria-label="Wyszukaj" >
            <select name="type" id="search-type" style="height: 44px; margin-right: 5px;" class="btn btn-light form-select">
              <option value="-1">Kategoria</option>
                {% for type in types %}
              <option value="{{ type.id }}">{{ type.name }}</option>
                {% endfor %}
            </select>
            <select name="city" id="search-city" style="height: 44px" class="btn btn-light form-select">
              <option value="-1">Miasto</option>
                {% for city in cities %}
              <option value="{{ city.id }}">{{ city.name }}</option>
                {% endfor %}
          </select>
          <button class="btn btn-primary m-1" style="width: 120px; height: 44px" type="submit">
            <span class="btn-label"><i class="fa fa-search"></i></span> Wyszukaj</button>
        </form>
      </li>
      <li class="nav-item dropdown m-1 ml-auto" >
        <a class="btn btn-secondary" href="#" id="usermenu" role="button" data-toggle="dropdown" style="height: 44px" aria-haspopup="true" aria-expanded="false">
          <span class="btn-label"><i class="fa fa-user"></i></span> Zarządzanie kontem <span class="btn-label"><i class="fa fa-caret-down"></i></a>
        <div class="dropdown-menu" aria-labelledby="usermenu">
          {% if user.is_authenticated %}
                      {% if user_type == "U" %}
            <a class="dropdown-item" href="{% url 'ticketOwned' %} ">Moje wydarzenia</a>
            <a class="dropdown-item" href="{% url 'accountSetting' %}">Ustawienia konta</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj</a>
          {% elif user_type == "V" %}
          {% elif user_type == "O" %}
          <a class="dropdown-item" href="{% url 'yourEvents' %}">Zarządzaj wydarzeniami</a>
          <a class="dropdown-item" href="{% url 'accountSetting' %}">Ustawienia konta</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj</a>
          {% elif user_type == "A" %}
            <a class="dropdown-item" href="#">Zarządzaj wydarzeniami</a>
            <a class="dropdown-item" href="#">Zarządzaj użytkownikami</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj</a>
            {%endif%}
          {% else %}
            <a class="dropdown-item" href="{% url 'login' %}">Zaloguj się</a>
            <a class="dropdown-item" href="{% url 'register' %}">Zarejestruj się</a>
          {% endif %}
        </div>
      </li>
    </ul>
</nav>