{% extends 'main.html' %}
{% block content %}
{% load bootstrap4 %}
<!-- @TODO dodać przyciski do rejestracji i do powrotu -->
<nav class="nav m-3">
    <p class="text-secondary mr-1" >Strona główna > </p>
    <p class="text-primary mr-1" >Logowanie</p>
</nav>

<a href="/" class="btn btn-secondary" role="button"><span class="btn-label"><i class="fa fa-arrow-left"></i></span> Powrót</a><br><br>

<div style="padding-bottom: 10%;"></div>
<div class="jumbotron" style="max-width: 50%;margin: auto;">
    <h2>Logowanie</h2>
    <form   method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary" >Zaloguj</button>
    </form>
</div>
{% endblock content %}